.weather-card {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px;

  border-radius: 20px;

  background: #79adbc;

  backdrop-filter: blur(12px);

  -webkit-backdrop-filter: blur(12px);

  color: rgb(255, 255, 255);

  transition: all 0.25s ease;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.105);

  &:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.22);
  }

  .weather-left{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .city-name{
    font-size:28px;
    font-weight:700;
    margin-bottom:12px;
  }

  .weather-details{
    display:flex;
    flex-direction:column;
    gap:4px;

    p{
      font-size:13px;
      opacity:.85;
      font-weight:400;
    }
  }

  .weather-right{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
  }

  .temperature-row{
    display:flex;
    align-items:center;
    gap:8px;
  }

  .temperature{
    font-size:58px;
    font-weight:300;
    line-height:1;
  }

  img{
    width:60px;
    height:60px;
  }

  .description{
    margin-top:12px;
    font-size:18px;
    opacity:.95;
  }
}

@media (max-width:768px){

  .weather-card{

    padding:20px;

    .city-name{
      font-size:22px;
    }

    .temperature{
      font-size:44px;
    }

    img{
      width:50px;
      height:50px;
    }

    .description{
      font-size:16px;
    }

    .weather-details p{
      font-size:12px;
    }
  }

}

@media (max-width:480px){
  .weather-title {
    font-size: 1.25rem;
  }

  .weather-card{

    padding:18px;

    .city-name{
      font-size:20px;
    }

    .temperature{
      font-size:40px;
    }

    img{
      width:48px;
      height:48px;
    }

    .description{
      font-size:15px;
    }

    .weather-details p{
      font-size:11px;
    }

  }

}